.pie{
        grid-area: footer;
        background-color: nth($color,2);
        @include dispo (flex, space-evenly, center);
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                    margin: 30px;
                }
            }
        }
    }