//* MAIN
    .principal{
        grid-area: main;
        .hero{
            background-image: url("../img/fondotextocooki.jpg") ;
            width: 100%;
            height: 400px;
            background-size: cover;
            color: nth($color,4);
            text-align: center;
            background-attachment: fixed;
            h1{
                font-weight: 700;
                font-size: 70px;
                font-family: 'Montserrat', sans-serif;
                font-style: bold;
            }
            p{
                font-size: 35px;
                font-family: 'Montserrat', sans-serif;
            }
            }
            .nuestra-cocina{
                @include dispo (flex, center, center);
                flex-direction: row-reverse;
                img{
                    width: 400px;
                    height: 500px;
                }
                div{
                    width: 50%;
                    margin: 40px;
                    h2{
                        font-weight: 600;
                        font-size: 50px;
                        text-align: center;
                    }
                    p{
                        font-size: 25px;
                    }
                }
            }
            .recetas{
                h2{
                    font-weight: 600;
                    font-size: 30px;
                    text-align: center;
                }
                div{
                    @extend %flex;
                        img{
                            width: 100%;
                            height: 400px;
                            }
                    h3{
                        font-size: 18px;
                        margin: 15px;
                    }
                    a{
                        background-color: nth($color,2);
                        color: nth($color,4);
                        padding: 5px;
                    }
                }
            }
    }


//*DULCE
main{
.dulce-main{
        background-image: url("../img/dulcemain.jpg");
        width: 100%;
        height: 300px;
        background-size: cover;
        color: nth($color,1);
        text-align: center;
            h1{
                font-weight: 700;
                font-size: 70px;
                font-family: 'Montserrat', sans-serif;
                font-style: bold;
                text-align: center;
            }
        }
        .recetas{
            @extend %flex;
                        img{
                            width: 100%;
                            height: 400px;
                            }
                    h3{
                        font-size: 18px;
                        margin: 15px;
                    }
                    a{
                        background-color: nth($color,2);
                        color: nth($color,4);
                        padding: 5px;
                    }
            }
        }

//*SALADO
main{
    .salado-main{
        background-image: url("../img/saladomain.jpg");
        width: 100%;
        height: 300px;
        background-size: cover;
        color: nth($color,1);
        text-align: center;
            h1{
                font-weight: 700;
                font-size: 70px;
                font-family: 'Montserrat', sans-serif;
                font-style: bold;
                text-align: center;
            }
    }  
    .recetas{
        @extend %flex;
            img{
                width: 100%;
                height: 400px;
                }
        h3{
            font-size: 18px;
            margin: 15px;
        }
        a{
            background-color: nth($color,2);
            color: nth($color,4);
            padding: 5px;
        }
}
} 

//*VEGAN
main{
    .vegan-main{
        background-image: url("../img/veganmain.jpg");
        width: 100%;
        height: 300px;
        background-size: cover;
        color: nth($color,1);
        text-align: center;
            h1{
                font-weight: 700;
                font-size: 70px;
                font-family: 'Montserrat', sans-serif;
                font-style: bold;
                text-align: center;
            }
        }
        .recetas{
            @extend %flex;
                img{
                    width: 100%;
                    height: 400px;
                    }
            h3{
                font-size: 18px;
                margin: 15px;
            }
            a{
                background-color: nth($color,2);
                color: nth($color,4);
                padding: 5px;
            }
    }
}